body {
	background-image:               url("../images/heart-background.jpg");
    font-family:                    'Nova Square', cursive;
    background-size:                cover;
}

.jumbotron {
    text-align:                     center;
    padding-bottom:                 2px;
    padding-top:                    10px;
    filter:                         drop-shadow(5px 5px 10px darkmagenta);
}

h1 {
    font-family:                    'Amarante', cursive;
    font-size:                      260%;
    color:                          darkred;
    filter:                         drop-shadow(2px 2px 2px rgb(139, 247, 247));
    -webkit-text-stroke:            1px #093249;
}

.wrapper {
width:                              95%;
height:                             12%;
text-align:                         center;
margin:                             auto;
}

.container {
background-color:                   white;
width:                              95%;
}

#active {
    background-color:               crimson;
    color:                          white;
}

#link {
    color:                          darkred;
}

#link:hover {
    background-color:               #E34363;
    color:                          gold;
}

/* div {
    border: 0.25px solid black;
} */



label {
    color:                          darkred;
    font-size:                      large;
    text-align:                     center;
}

.btn-default {
    color:                          #000;
    font-size:                      medium;
    background-color:               goldenrod;
}

.btn-default:hover {
    background-color:               darkgoldenrod;
}

.holder {
    float:                          left;
}

.form-row {
    padding-top:                    8px; 
    line-height:                    2; 
}

 #navbar    {
    padding-bottom:                 10px; 
 }


/* CSS Style for Dinner Page */

 #map { 
        float:right ;
        width: 100%;
        top: 100px;
        right:20px;
       
 }

 .geocoder {
    position: absolute;
    z-index: 1;
    width: 1000px;
    left: 50%;
    margin-left: 50%;
    top: 100px;
    }

    .mapboxgl-ctrl-geocoder {
    min-width: 100%;
    }

    #reload{
        margin-bottom: 50px;
        margin-left: 500px;
        width:100px;
        height: 40px;
        
    }

    .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }



 #answer{
    font-size: 16px;
}

h5{
    color: white;
    text-align: center;
}


.resultRow{
    text-align: center;
    margin:auto;
    margin-bottom:10px;
    border: 5px solid rgb(230, 69, 96);
    background-color: whitesmoke;
    width: 900px;
    height: 250px;
}

#pic{
    float: left;
    padding:10px;
    width:400px;
    height:200px;
   
}

.info{
    margin-right:80px;
    float: right;
}

#inputForm{
    text-align: center;
    margin: center;
    margin: 5px;
    width:100%;
}

.iconDiv{
    text-align: center;
}
 
#search{
    background-color: rgb(228, 71, 97);
    margin: auto;
}

#search ,#clear-all{
    width:100px;
    height: 40px;
   margin: 15px;
}

/*
  These rules take effect when the browser's width
  is either 1199px or less.
*/
@media screen and (max-width: 1199px){
    #pic{
        width:300px;
    }

}

/*
  These rules take effect when the browser's width
  is either 991px or less.
*/
@media screen and (max-width: 991px){
    .resultRow{
       
        height: 400px;
    }


    #pic{
        float: none;
        margin:10px;
        width:150px;
        height:150px
    }

    .info{
        float: none;
        margin-right:10px;
       
    }

}

/* CSS Style For MAP */
.ctrl-panel {   
    background-color: #ffffff;
    border-right: solid #ffffff 1px;
    border-bottom: solid #ffffff 1px;
    left: 30px;
    width: 200px;
    max-height: calc(100% - 100px);
    display: block;
    font-size: 12px;
    left: 10px;
    padding: 10px;
    position: absolute;
    text-align: justify;
    top: 10px;
    z-index: 10;
    -webkit-transition: left 0.5s, -webkit-transform 2s;
    transition: left 0.5s, transform 2s;
   clear: both;
         }



/* CSS Style for Stream Page */
html {
    scroll-behavior: smooth;
}


#containerMovies {
    padding: 20px;
    margin: 0 auto;
    background-color: rgb(230, 69, 96);
}

.movie {
    margin-top: 50px;
}

section {
    position: relative;
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    transition: 250ms all;
}

section .imageContainer {
    flex: 0 0 auto;
}

.content {
    display: none;
    position: relative;
    min-height: 200px;
    width: 100%;
    border: 1px solid lightgrey;
    padding: 20px;
   
}


.content-display {
    display: block;
}


.content-display {
    display: block;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: pink;
}


.content div {
    margin: 10px;
   
}

#content-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    padding: 10px;
    /* width: 35px;; */
    border: 1px solid lightgrey;
    border-radius: 45%;
    left: 20px;
    color:black;
    background-color: red;
    

}


.imageContainer {
    transition: 250ms all;
    width: 300px;
}


.imageContainer:hover {
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

.imageContainer {
    border-radius: 4px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.imageContainer img {
    width: 80%;
}

.btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 760px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#linkOut{
    background-color: red;
}



        