#answer{
    font-size: 16px;
}

.info{
    margin-right:80px;
    position: relative;
    float: right;
}

.resultRow{
    margin-bottom:10px;
    border: 1px solid rgb(230, 69, 96);
    background-color: rgb(218, 209, 209);
    height: 250px;
}

img{
    float: left;
    padding:10px;
    position: absolute;
}